<div class="form-inline">
	<div class="form-group">
		<label>Filter</label>
	</div>
	<div class="form-group mx-sm-3">
		<select class="form-control form-control-sm custom-select" [(ngModel)]="filterStatus">
			<option value="view_all">View All</option>
			<option value="devAvailable">View Available</option>
			<option value="devUsing">View Using</option>
		</select>
	</div>
</div>

<table class="table table-bordered table-hover table-sm mt-1">
	<thead>
		<tr class="table-info">
			<th>Device Name</th>
			<th>OS Version</th>
			<th>Manufacturer</th>
			<th>Status</th>
			<th class="text-center">Borrow - Return</th>
			<th class="text-center w-10">Remove</th>
		</tr>
	</thead>
	<tbody *ngFor="let device of arrDevices">
		<tr [class.text-success]="device.memorized" [class.text-warning]="!device.memorized" *ngIf="getFilterStatus(device.memorized)">
			<td>
				{{ device.name }}
			</td>

			<td>
				{{ device.osv }}
			</td>

			<td>
				{{ device.manu }}
			</td>

			<td>{{ device.memorized ? "Available" : "Using" }}</td>

			<td class="text-center">
				<button
					class="btn btn-sm bg-success"
					(click)="device.memorized = !device.memorized"
					[class.bg-success]= "device.memorized"
					[class.bg-warning]= "!device.memorized"
				>
					{{ device.memorized ? 'Borrow' : 'Return'}}
				</button>
			</td>

			<td class="text-center"><button class="btn btn-danger btn-sm" (click)="deviceRemove(device.id)">X</button></td>
		</tr>
	</tbody>
</table>